.code-blue {
    color: #8be9fd;
}

.code-purple {
    color: #bd93f9;
}

.code-red {
    color: #ff5555;
}

.code-turq {
    color: #2FE6DE;
}

.code-pink {
    color: #ff79c6;
}

.code-green {
    color: #50fa7b;
}

.code-orange {
    color: #ffb86c
}