html { 
    height: 100vh;
    overflow: hidden; 
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #0A151F;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

h1 {
    margin-top: 40px;
    margin-left: 18vw;
    width: fit-content;
}

h1, h3, p {
    padding: 20px 40px;
    background: #CFCFDFAA;
    border-radius: 20px;
}

.main {
    min-width: 100vw;
    padding-left: 15vw;
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

.scrollbox {
    transition: margin-left 1s;
    width: calc(33%- 5vw);
    margin-right: 5vw;
}

.card {
    background-color: #0A151FCC;
    color: #F45B69;
    padding: 10px 30px;
    margin: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: skew(20deg);
}

.display-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    transform: skew(-20deg);
}

.display-content:hover {
    text-decoration: underline;
}

.hover-content {
    visibility: hidden;
    height: 0;
    width: 0;
    display: flex;
    transition: visibility 0s, width 1000ms, height 2000ms;
    transform: skew(-20deg);
}

.card:hover :nth-child(2) {
    margin-left: 30px;
    visibility: visible;
    height: fit-content;
    width: calc(16vw - 30px);
}

.bio {
    margin-left: 20vw;
}

.bio p {
    width: 50%;
    line-height: 200%;
}

@media screen and (width <= 600px) {
    h1 {
        margin: 5px;
        font-size: 24px;
    }

    body {
        height: fit-content;
    }

    .main {
        flex-direction: column;
        padding: 5px;
    }
     
    .bio {
        height: fit-content;
        margin: 0;
        box-sizing: border-box;
    }
}