button {
    background-color: #4444aa;
    border: 2px solid rgb(245, 241, 241);
    border-radius: 5px;
    color: rgb(245, 245, 245);
}
button:hover {
    background-color: #7e7ecc !important;
}
h1, th, input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}
html, body {
    height: 100%;
}
.sidebar, .content, .title {
    background-color: white;
}
a {
    color: #3a3ac4
}
a:hover, a:visited {
    color: #6602aa
}
.table, #list {
    overflow: scroll;
}
#timer {
    font-family: 'Kameron', serif;
}
td, th {
    border: 1px solid black;
}
th {
    background-color: #444499;
    color: white;
}
tbody :hover {
    background-color: rgba(225, 225, 225, 0.5)
}
input, #logo {
    border: none;
}
#sleep {
    visibility: show;
}
#inline {
    display: inline;
    color: white;
}
table {
    border-collapse: collapse;
}
img {
    border: 2px solid dimgrey;
}
#lineOne, #lineTwo, #lineThree, #lineFour, #lineFive {
    border-top: 2px solid dimgrey;
}
.extra {
    color: #323278
}
.vlTwo, .vlThree {
    border-left: 2px solid dimgrey;
}
.background, .backgroundTwo {
    border: 5px solid grey;
}
#logotext {
    color: white;
}
body {
    display: grid;
    grid-template-rows: repeat(60, 2.5%);
    grid-template-columns: repeat(40, 2.5%);
}
h1 {
    padding-left: 20px;
    padding-top: 2.5vh;
    font-size: 1.6em;
}
button {
    font-size: 1.1em;
}
.sidebar {
    grid-column: 30 / 39;
    grid-row: 4 / 52;
    line-height: 1.5;
    margin: 5px;
    }
.title {
    grid-column: 4 / 29;
    grid-row: 4 / 52;
    margin: 5px;
    font-size: 1.7em;
}
.table {
    grid-column: 6 / 15;
    grid-row: 12 / 20; 
}
.content {
    grid-column: 21 / 27;
    grid-row: 5 / 37;
    line-height: 1.5;
    margin-left: 3vw;
    text-align: left; 
}
.buttons {
    grid-column: 15 / 20;
    grid-row: 12 / 14;
}
#timer {
    grid-column: 4 / 15;
    grid-row: 20 / 30;
    font-size: 7em;
    margin-left: 15px;
}
#paused {
    grid-column: 4 / 14;
    grid-row: 30 / 34;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 2em;
}
#img {
    grid-column: 4 / 15;
    grid-row: 39 / 43;
    width: 20vw;
    height: 15vw;
}
.images {
    grid-column: 31 / 37;
    grid-row: 30 / 42;
}
#jd {
    padding-left: 2.5vw;
    margin-right: 10px;
    padding-top: 1.5vh;
    margin-bottom: 10px;
}
.linksOne {
    grid-column: 31 / 37;
    grid-row: 15 / 18
}
.linksTwo {
    grid-column: 31 / 37;
    grid-row: 23 / 28
}
#list {
    grid-column: 14 / 19;
    grid-row: 24 / 40;
    border: none;
}
#sleep {
    grid-column: 14 / 19;
    grid-row: 39 / 43;
    height: 15vw; 
}
table {
    width: 99%
}
input {
    width: 99%;
}
img {
    width: 13vw;
    height: 13vw;
    margin-left: 30px;
    margin-right: 15px;
}
#lineOne {
    width: 1700%;
    grid-row: 9 / 9;
    grid-column: 4 / 4;
}
#lineTwo {
    width: 1700%;
    grid-column: 4 / 4;
    grid-row: 22 / 22;
}
#lineThree {
    width: 870%;
    grid-column: 30 / 30;
    grid-row: 14 / 14;
    margin-left: 5px;
}
#lineFour {
    width: 870%;
    grid-column: 30 / 30;
    grid-row: 21 / 21;
    margin-left: 5px;
}
#lineFive {
    width: 870%;
    grid-column: 30 / 30;
    grid-row: 28 / 28;
    margin-left: 5px;
}
.extra {
    grid-column: 2 / 4;
    grid-row: 54 / 54;
}
.vlTwo {
    grid-row: 4 / 4;
    grid-column: 21 / 21;
    height: 119vh;
    margin-top: 5px;
    margin-right: 10px; 
}
.vlThree {
    grid-column: 14 / 14;
    grid-row: 22 / 22;
    height: 73vh;
    margin-top: 10px;
}
.background {
    grid-column: 4 / 29;
    grid-row: 4 / 52;
}
.backgroundTwo {
    grid-column: 30 / 39;
    grid-row: 4 / 52;
}
#logo {
    width: 18vw;
    height: 6vw;
}
#logotext {
    width: 32vw;
    margin-bottom: 40px;
}
.logu {
    grid-column: 15 / 23;
    grid-row: 57 / 60;
}
@media screen and (min-width: 1450px) {
    .content, .sidebar, #list, button {
        font-size: 1.2em;
    }
    li {
        font-size: 1.25em;
    }
    img {
        height: 15vw;
        width: 14vw
    }
    input {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 1290px) {
    .content, li {
        font-size: 1.1em;
    }
    .sidebar {
        font-size: 1.05em;
    }
    #timer {
        margin-left: 5px;
    }
}
@media screen and (max-width: 1030px) {
    body {
        grid-template-rows: repeat(40, 2.5%);
        grid-template-columns: repeat(60, 2.5%);
    }
    h1 {
        padding-left: 2;
        padding-top: 2.5vh;
    }
    button {
        font-size: 1.1em;
    }
    .sidebar {
        grid-column: 30 / 39;
        grid-row: 4 / 52;
        line-height: 1.35;
        margin: 5px;
        font-size: 0.95em;
    }
    .title {
        grid-column: 4 / 29;
        grid-row: 4 / 52;
        margin: 5px;
        font-size: 1.5em;
    }
    .table {
        grid-column: 6 / 15;
        grid-row: 12 / 20;
        margin-left: -30px; 
    }
    .content {
        grid-column: 21 / 27;
        grid-row: 5 / 37;
        line-height: 1.35;
        margin-left: 3vw;
        text-align: left; 
        font-size: 0.95em
    }
    .buttons {
        grid-column: 15 / 20;
        grid-row: 12 / 14;
        margin-left: 20px;
    }
    #plus {
        padding-left: 10px;
        padding-right: 10px;
    }
    #minus {
        padding-left: 200px;
        padding-right: 20px;
    }
    #timer {
        grid-column: 4 / 15;
        grid-row: 20 / 30;
        font-size: 5em;
        margin-left: 15px;
    }
    #paused {
        grid-column: 3 / 14;
        grid-row: 26 / 30;
        margin-left: 50px;
        margin-top: 50px;
        font-size: 2em;
    }
    #img {
        grid-column: 4 / 15;
        grid-row: 36 / 39;
        width: 20vw;
        height: 15vw;
        margin-left: 25px;
    }
    .images {
        grid-column: 31 / 37;
        grid-row: 30 / 42;
    }
    #jd {
        padding-left: 2.5vw;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: -20px
    }
    .linksOne {
        grid-column: 30 / 37;
        grid-row: 14 / 18
    }
    .linksTwo {
        grid-column: 30 / 37;
        grid-row: 21 / 26
    }
    #list {
        grid-column: 14 / 19;
        grid-row: 24 / 40;
        font-size: 0.75em;
    }
    #sleep {
        grid-column: 14 / 19;
        grid-row: 36 / 43;
        height: 15vw;
        margin-left: 15px; 
    }
    table {
        width: 99%
    }
    input {
        width: 99%;
    }
    img {
        width: 14vw;
        height: 14vw;
        margin-left: 10px;
        margin-right: 15px;
    }
    a {
        font-size: 0.95em; 
    }
    #lineOne {
        width: 1700%;
        grid-row: 9 / 9;
        grid-column: 4 / 4;
    }
    #lineTwo {
        width: 1700%;
        grid-column: 4 / 4;
        grid-row: 22 / 22;
    }
    #lineThree {
        width: 870%;
        grid-column: 30 / 30;
        grid-row: 14 / 14;
        margin-left: 5px;
    }
    #lineFour {
        width: 870%;
        grid-column: 30 / 30;
        grid-row: 21 / 21;
        margin-left: 5px;
    }
    #lineFive {
        width: 870%;
        grid-column: 30 / 30;
        grid-row: 28 / 28;
        margin-left: 5px;
    }
    .extra {
        grid-column: 2 / 4;
        grid-row: 54 / 54;
    }
    .vlTwo {
        grid-row: 4 / 4;
        grid-column: 21 / 21;
        height: 107vh;
        margin-right: 10px; 
    }
    .vlThree {
        grid-column: 14 / 14;
        grid-row: 22 / 22;
        height: 62vh;
        margin-top: 10px;
    }
    .background {
        grid-column: 4 / 29;
        grid-row: 4 / 52;
    }
    .backgroundTwo {
        grid-column: 30 / 39;
        grid-row: 4 / 52;
    }
    #logo {
        width: 18vw;
        height: 6vw;
    }
    #logotext {
        width: 32vw;
        margin-bottom: 40px;
        font-size: 0.65em;
    }
    .logu {
        grid-column: 15 / 23;
        grid-row: 57 / 60;
    }
    @media screen and (max-height: 610px) {
        .content {
            line-height: 1.2;
            font-size: 0.9em;
        }
        .sidebar {
            font-size: 0.8em;
        }
        li {
            font-size: 0.95em;
        }
        .vlTwo {
            height: 111vh;
        }
        .vlThree {
            height: 66vh;
        }
        #sleep {
            grid-row: 38 / 41;
        }
        #img {
            grid-row: 38 / 41;
        }
        #timer {
            grid-row: 18 / 22;
        }
    }
}
@media screen and (min-width: 1530px) {
    .sidebar, .content, a {
        font-size: 1.2em;
    }
    table {
        height: 40%;
    }
    input {
        height: 40%;
        font-size: 0.85em;
        overflow: scroll;
    }
}
@media screen and (min-width: 1910px) {
    .sidebar, .content, a, button, #list {
        font-size: 1.55em;
    }
    table {
        height: 97%;
    }
    input {
        height: 94%;
        font-size: 1.8em;
        overflow: scroll;
    }
    #logotext {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.8em;
        margin-left: 5vw;
    }
    .buttons {
        margin-left: 2vw;
    }
    #timer {
        grid-column: 5 / 15;
        grid-row: 21 / 30;
        font-size: 8em;
    }
    th {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: repeat(60, 2.5%);
        grid-template-rows: repeat(40, 2.5%)
    }
    .sidebar, .content, button, #list {
        font-size: 0.65em;
    }
    a {
        font-size: 0.5831em;
    }
    h1  {
        font-size: 0.9em;
    }
    input {
        font-size: 0.7em;
    }
    th {
        font-size: 0.5em;
    }
    .background {
        grid-row: 4 / 42;
        grid-column: 4 / 29;
    }
    .title {
        grid-row: 4 / 42;
        margin: 5px;
        grid-column: 4 / 29;
    }
    .sidebar {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
    }
    .backgroundTwo {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
    }
    .vlTwo {
        height: 124vh;
    }
    .vlThree {
        height: 78vh;
    }
    #sleep, #img {
        grid-row: 40 / 40;
    }
    #timer {
        font-size: 4em;
    }
    #paused {
        font-size: 1em;
        grid-row: 28 / 32;
    }
}
@media screen and (max-width: 825px) {
    body {
        display: grid;
        grid-template-columns: repeat(60, 2.5%);
        grid-template-rows: repeat(40, 2.5%)
    }
    .sidebar, .content, button, #list {
        font-size: 0.62em;
    }
    li {
        font-size: 0.65em;
    }
    a {
        font-size: 0.95em;
    }
    h1  {
        font-size: 0.9em;
    }
    input {
        font-size: 0.58em;
    }
    th {
        font-size: 0.5em;
    }
    .background {
        grid-row: 4 / 42;
        grid-column: 4 / 29;
    }
    .title {
        grid-row: 4 / 42;
        margin: 5px;
        grid-column: 4 / 29;
    }
    .sidebar {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
    }
    .backgroundTwo {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
    }
    .vlTwo {
        height: 128vh;
    }
    .vlThree {
        height: 82vh;
    }
    #sleep, #img {
        grid-row: 40 / 40;
    }
    #timer {
        font-size: 4em;
    }
    #paused {
        font-size: 1em;
        grid-row: 28 / 32;
    }
    button {
        margin-bottom: -8%;
    }
    @media (max-height: 415px) {
        .vlTwo {
            height: 123vh;
        }
        .vlThree {
            height: 77vh;
        }
        .content {
            font-size: 0.7em;
        }
        #list {
            font-size: 0.8em;
        }
    }
}
@media screen and (max-width: 790px) {
    body {
        display: grid;
        grid-template-columns: repeat(60, 2.5%);
        grid-template-rows: repeat(40, 2.5%)
    }
    .content, button, #list {
        font-size: 0.62em;
    }
    a {
        font-size: 0.5em;
    }
    h1  {
        font-size: 0.9em;
    }
    input {
        font-size: 0.58em;
    }
    th {
        font-size: 0.5em;
    }
    .background {
        grid-row: 4 / 42;
        grid-column: 4 / 29;
    }
    .title {
        grid-row: 4 / 42;
        margin: 5px;
        grid-column: 4 / 29;
    }
    .sidebar {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
        font-size: 0.58em;
    }
    .backgroundTwo {
        grid-row: 4 / 42;
        grid-column: 30 / 39;
    }
    .vlTwo {
        height: 128vh;
    }
    .vlThree {
        height: 82vh;
    }
    #sleep, #img {
        grid-row: 40 / 40;
    }
    #timer {
        font-size: 3.5em;
    }
    #paused {
        font-size: 1em;
        grid-row: 28 / 32;
    }
    button {
        margin-bottom: -80px;
        font-size: 0.6em;
    }
    .buttons {
        grid-row: 12 / 23;
        margin-top: -15px
    }
    #plus {
        margin-top: 10px;
    }
    ul {
        margin-top: 10px;
    }
    #list {
        font-size: 0.7em;
        padding-left: 17px;
    }
}
@media screen and (max-width: 765px) {
    .content {
        font-size: 0.6em
    }
    .sidebar {
        font-size: 0.55em;
    }
    a, li {
        font-size: 0.75em;
    }
    @media (max-height: 420px) {
        .vlTwo {
            height: 117vh;
        }
        .vlThree {
            height: 71vh;
        }
        #sleep {
            grid-row: 38 / 38;
            margin-left: 10px;
        }
        #img {
            grid-row: 38 / 38;
            margin-left: 20px;
        }
        .buttons {
            grid-column: 15 / 21;
        }
        .content {
            line-height: 1.22;
        }
        .table {
            margin-left: 5px;
        }
        #list {
            font-size: 0.8em;
        }
    }
    @media (max-height: 415px) {
        li {
            font-size: 0.65em;
        }
        #timer {
            margin-left: 8px;
        }
    }
}
@media (max-width: 670px) {
    .content {
        font-size: 0.55em
    }
    .sidebar {
        font-size: 0.50em;
    }
    li {
        font-size: 0.65em;
    }
    #sleep, #img {
        grid-row: 41 / 41;
        height: 20vh;
    }
    #timer {
        font-size: 3.2em;
    }
    #paused {
        font-size: 0.9em;
    }
    .table {
        margin-left: -2px;
    }
    #list {
        font-size: 0.85em;
        grid-column: 14 / 21;
    }
    @media (min-height: 380px) {
        .vlTwo {
            height: 114vh;
        }
        .vlThree {
            height: 67vh;
        }
        #timer {
            margin-left: 10px;
        }
    }
}
@media screen and (max-width: 641px) {
    .buttons {
        margin-left: 5px;
        margin-top: -20px;
        grid-row: 15 / 18;
    }
    #timer {
        font-size: 2.7em;
    }
    #paused {
        font-size: 0.8em;
        grid-row: 25 / 30;
    }
    .sidebar {
        font-size: 0.47em;
    }
    li {
        font-size: 0.57em;
    }
}
@media screen and (max-width: 570px) {
    h1 {
        padding-top: 1.5vh;
        padding-left: 15px;
    }
    .content {
        font-size: 0.5em;
    }
    .sidebar {
        font-size: 0.45em;
    }
    #timer {
        grid-row: 20 / 22;
    }
    #paused {
        grid-column-start: 2;
    }
}
